@font-face{
    font-family: 'Chandia';
    src: url('Chandia.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    display: swap;
}

body{
    background-color: rgb(26, 26, 26);
    color: white;
    display: grid;
    position: absolute;
    width: 100vw;
    text-align: center;
}

section{
    display: inline-flex;
}

.chandia-bold{
    font-family: 'Chandia';
    font-weight: bold;
}
.meie-script-regular{
    font-family: "Meie Script", cursive;
    font-weight: 400;
    font-style: normal;
}